{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow p-4 text-center">
        <h3 class="mb-3">¿Seguro que deseas eliminar este vehículo?</h3>
        <p><strong>{{ vehiculo.placa }} - {{ vehiculo.modelo }}</strong></p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sí, eliminar</button>
            <a href="{% url 'lista_vehiculos' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
